extends default
include mixins/itemForm

block headerAddBtn
  if (!title.includes('Add'))
    a.btn.btn-outline.blue(href="/add").fw400 + add item

block content

  h2.fw400= title.toLowerCase()
  hr
  +itemForm(item)