extends default

block content
  a(href="/").btn Go back to list
  h3 req.body dump
  pre= h.dump(formData)
  hr
  h3 emailOutput dump
  pre= h.dump(emailOutput)
  hr
  h3 emailOutput html
  div!= emailOutput
