mixin emailSelector()
  .form__emailSelector
    span.ml2.mono.red email list to:
    .form__emailSelector-emailWrapper
      input(type="checkbox" name="emailTo" id="emailAZ" value=`${process.env.AZ}`).form__emailSelector-input
      label(for="emailAZ").form__emailSelector-emailLabel abbie
    span.mono.red and/or
    .form__emailSelector-emailWrapper
      input(type="checkbox" name="emailTo" id="emailBZ" value=`${process.env.BZ}`).form__emailSelector-input
      label(for="emailBZ").form__emailSelector-emailLabel brian