include itemCheckboxAndText
include itemQtySelector
include itemStoresSelector
include emailSelector
mixin list(item)

  form(action="/submit" method="POST")
    ol.list-reset.mb0.border.rounded
      each item in items
        li.item
          +itemCheckboxAndText(item)
          +itemQtySelector(item)
          +itemStoresSelector(item)
    .controls.flex.flex-center.mt2
      input(type="submit" value="submit").btn.btn-primary.bg-blue.fw400
      +emailSelector

