include itemCheckboxAndText
include itemQtySelector
include itemStoresSelector
include emailSelector
include adhocItemInput
mixin list

  form(action="/submit" method="POST")
    ol.list-reset.border.rounded
      each item in items
        li.item
          +itemCheckboxAndText(item)
          +itemQtySelector(item)
          +itemStoresSelector(item)
      li.item.adhoc
        +adhocItemInput()
    .controls.flex.flex-column.sm-flex-row.justify-between.flex-wrap
      .flex.flex-center.order-2.sm-order-1
        input(type="submit" value="submit").btn.btn-primary.bg-blue.fw400
        +emailSelector
      .mb2.sm-mb0.order-1.sm-order-2
        include ../includes/addItemBtn

  script.
    //- write scripts here for 'add adhoc item to list' button
    //- ie, http://zelip.me/github-auto-repo/ 'add another username' button:

    //- const addUserBtn = document.getElementById('add-user-btn');    
    //- addUserBtn.addEventListener('click', e => {
    //-   const usersCount = newUserList.children.length;
    //-   const input = document.createElement("input");
    //-   newUserList.appendChild(input);
    //-   newUserList.lastChild.setAttribute("type", "text");
    //-   newUserList.lastChild.setAttribute("name", `newUser${usersCount + 1}`);
    //-   newUserList.lastChild.setAttribute("id", `new-user-${usersCount + 1}`);
    //-   newUserList.lastChild.classList.add("block", "mt1");
    //- })
